astroid==3.1.0
black==24.4.0
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dill==0.3.8
distlib==0.3.8
docformatter==1.7.5
exceptiongroup==1.2.1
filelock==3.13.4
greenlet==3.0.3
identify==2.5.36
iniconfig==2.0.0
isort==5.13.2
mariadb==1.1.10
mccabe==0.7.0
mistune==3.0.2
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.0
pluggy==1.5.0
pre-commit==3.7.0
pre-commit-hooks==4.6.0
pylint==3.1.0
pytest==8.1.1
PyYAML==6.0.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
SQLAlchemy==2.0.29
tomli==2.0.1
tomlkit==0.12.4
typing_extensions==4.11.0
untokenize==0.1.1
virtualenv==20.25.3
